@charset "utf-8";

.mainvisual{
    height: 600px;
    width: 100%;
    padding: 0%;
    margin: 0%;
}

.aboutcontent{
    width: 960px;
    padding: 4%;
    margin-right: auto;
    margin-left : auto; 
}
@media screen{
    .aboutcontent{
      width: 600px;
      padding: 4%;
    }
}

aboutimg{
    border-radius:50%;
}

h2{
    text-decoration:underline;
    text-align: center; 
}

.b{
    height: auto;
    width: 280px;
}

.column{
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    margin-right: auto;
    margin-left : auto; 
}

.bike{
    width: calc(100%/3);
    text-align: center;
}

ul{
    list-style: none;
}

.aboutcontent{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

.abouttext{
    max-width: 600px;
    line-height: 1.8; /* 行間 */
    text-align: left;
    font-size: 16px;

}

.aboutimg{
    width: 100px;
    height: auto;
    border-radius: 50%; 
    object-fit: cover; /* 画像を枠内で収める */
}

.footer{
   color: rgb(175, 175, 175);
   text-align: center;
   margin-right: auto;
   margin-left : auto; 
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 960px;
    margin: 0 auto;
    padding: 10px 0;
}

.nav{
    display: flex;
    justify-content: flex-end; /* 右寄せ */
    gap: 20px; /* アイテム間の余白 */
    text-align: center;
}

.menu{
    display:flex;
    gap: 20px;
    padding: 0; 
    margin: 0;
}

.item{
    padding: 10px;
    text-align: center;
}

.title{
    background-color: black;
    color: white;
    padding: 10px;
}
