@charset "utf-8";



.mainvisual{
    height: 600px;
    width: 100%;
    padding: 0%;
    margin: 0%;
}

.aboutcontent{
    width: 960px;
    padding: 4%;
    margin-right: auto;
    margin-left : auto; 
}
@media screen{
    .aboutcontent{
      width: 600px;
      padding: 4%;
    }
}

aboutimg{
    border-radius:50%;
}

h2{
    text-decoration:underline;
    text-align: center; 
}

.b{
    height: auto;
    width: 280px;
}
header{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.item{
    width: 10%;
    padding: 10px;
    text-align: center;
}

.column{
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    margin-right: auto;
    margin-left : auto; 
}

.bike{
    width: calc(100%/3);
    padding: 10px;
    text-align: center;
}

ul{
    list-style: none;
}

.aboutcontent{
    display: flex;
    flex-wrap: wrap;
    width: 960px;
}

.abouttext{
    width: 70%;
    padding: 10px;
    text-align: left;
}

.aboutimg{
    width: 20%;
    height: auto;
    border-radius: 50%; 
}

.footer{
   color: rgb(175, 175, 175);
   text-align: center;
   margin-right: auto;
   margin-left : auto; 
}